@using BlogMVC.Models
@using BlogMVC.Helpers
@using BlogMVC.Services
@inject ImageService imageService
@model PaginatedList<Blog>

@{
    ViewData["Title"] = "The Blog: Home";
}

<!--Search bar-->
<form class="d-flex justify-content-center my-2 my-lg-0" asp-action="SearchIndex" method="Post">
    <input name="SearchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 18rem;" required>
    <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit">Search</button>
</form>
<!-- blog cards-->
<div class="row pt-4">
    <div class="col-12 d-flex justify-content-center flex-wrap">
        @{
            foreach (var blog in Model)
            {
                <div class="card me-2 mt-2" style="width: 18rem;">
                    <img src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@blog.Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!--blog next/previous links--></
<div class="row mt-2">
    <div class="col">
        @{
            var previousDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a asp-action="SearchIndex" aria-label="Previous"
                       asp-route-pageIndex="@(Model.PageIndex - 1)"
                       asp-route-searchInput="@ViewBag.searchInput"
                       class="page-link @previousDisabled">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a asp-action="SearchIndex" aria-label="Next"
                       asp-route-pageIndex="@(Model.PageIndex + 1)"
                       asp-route-searchInput="@ViewBag.searchInput"
                       class="page-link @nextDisabled">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>



